<footer>
  <div name="rectangle 7" style="position: absolute;width: 100px;height: 100px;left: 99px;top: 5510px;background: #009BC2;"></div>
  <div name="rectangle 6" style="position: absolute;width: 200px;height: 100px;left: -1px;top: 5610px;background: #009BC2;"></div>
  <div name="rectangle 5" style="position: absolute;width: 200px;height: 200px;left: 1619px;top: 5310px;background: #FFFFFF;"></div>
  <div name="rectangle 4" style="position: absolute;width: 200px;height: 200px;left: 1719px;top: 5210px;background: #FFFFFF;"></div>
  <div name="ellipse 3" style="position: absolute;width: 200px;height: 200px;left: -1px;top: 5510px;border-radius: 1e+10px;background: #009BC2;"></div>
  <div name="ellipse 2" style="position: absolute;width: 200px;height: 200px;left: -1px;top: 5310px;border-radius: 1e+10px;background: #FFFFFF;"></div>
  <div name="ellipse 1" style="position: absolute;width: 200px;height: 200px;left: 1719px;top: 5310px;border-radius: 1e+10px;background: #FFFFFF;"></div>
  <div name="rectangle 2" style="position: absolute;width: 1720px;height: 200px;left: 199px;top: 5510px;background: #009BC2;"></div>
  <div name="rectangle 3" style="position: absolute;width: 200px;height: 200px;left: 1719px;top: 5310px;background: #009BC2;"></div>
</footer>