<header>
  <h6><a href="/">Annette-Softwareentwicklung</a></h6>
  <nav>
    {{ range .Site.Menus.main }}
      <a class="nav-link" href="{{ .URL }}">
        {{ .Name }}
      </a>
    {{ end }}
    <section class="instagram-section">   
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#3a3636" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="40" fill="none" stroke="#3a3636" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></circle><rect x="36" y="36" width="184" height="184" rx="48" fill="none" stroke="#3a3636" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></rect><circle cx="180" cy="76" r="8"></circle></svg>
      <a href="https://www.instagram.com/sv_annette">Instagram der SV</a>
    </section>
  </nav>
</header>
