@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}


h1 { font-size: 4rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.5rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.5rem; }
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

p, a, i, q {
  font-size: 1.4rem;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
  color: #009BC2;
}
a:hover{
  opacity: 0.8;
}

img {
  object-fit: cover;
  max-width: 100%;
}

header {
  height: auto;
  background-color: whitesmoke;
  margin-inline: 150px;
  border-radius: 10px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  color: #009BC2;
  position: fixed;
  width: calc(100% - 300px);
  top: 30px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  z-index: 999999999;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header nav a {
  color: #009BC2;
  margin-bottom: 0;
}
header h6 {
  margin-bottom: 0;
}

main {
  margin-top: 100px;
  padding-block: 100px;
  margin-inline: 200px;
}

main > section {
  margin-block: 100px;
}


@media screen and (max-width: 1200px) {
  main {
    margin-inline: 100px;
  }
  header {
    margin-inline: 50px;
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 800px) {
  main {
    margin-inline: 5%;
  }
  header {
    margin-inline: 5%;
    width: calc(100% - 10%);
    padding-inline: 20px;
  }
  h1 { font-size: 3rem; }
  h2 { font-size: 2.7rem; }
  h3 { font-size: 2.3rem; }
  h4 { font-size: 1.7rem; }
  h5 { font-size: 1.2rem; }
  h6 { font-size: 1rem; }
  p, a, i, q {
    font-size: 1rem;
  }
}