{{ define "styles" }}
{{ end }}


{{ define "main" }}

  <article class="{{ .Title }}">
    <h1>{{ .Title }}</h1>
  </article>


  <a href="https://entwicklung.annettegymnasium.de">
    <img src="/annette-website.png" alt="Foto der Webseite der AG">
  </a>

  <section>
    <h3>Software, für die gesamte Schule</h3>
  
    <p>
      Wir sind die Annette-Softwareentwicklungs-AG, eine Gemeinschaft, die rein aus Schülerinnen und Schülern des Annette Gymnasiums besteht.
    </p>
    <p>
      Im Auftrag der SV haben wir diese Seite entwickelt, und auch schon für andere Schulinterne Organisationen wie den Förderverein
      haben wir mit großem Erfolg Aufträge ausgeführt und organisatorische Dinge digitalisiert.   
    </p>
    <p>
      Bei Interesse oder Anfragen können Sie uns hier kontaktieren.
    </p>
    <a href="mailto:annettesoftware@gmail.com">
      annettesoftware@gmail.com
    </a>
  </section>

  <section>
    <h3>Mitwirkende:</h3>
    <ul style="margin-left: 50px">
      <li>Rui Zhang</li>
      <li>Yonas Lalouh</li>
      <li>Katerina Semerdjieva</li>
      <li>Tugra Atabey</li>
      <li>Marc Peiss</li>
    </ul>
  </section>



{{ end }}