{{ define "styles" }}
  <link rel="stylesheet" href="/css/list.css">
{{ end }}


{{ define "main" }}

  <article class="{{ .Title }}">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </article>
  
  <section>
    {{ range .Pages.ByPublishDate }}
    <div class="post">
      <a href="{{ .RelPermalink }}">
        <h3>{{ .Title }}</h3>
        {{ cond (isset .Params "thumbnail") (printf "<img class='image' src='%s'>" .Params.thumbnail | safeHTML) ("") }}
        
        <p class="summary">{{ .Summary }}</p>
      </a>
    </div>
    {{ end }}
  </section>

{{ end }}