
{{ define "styles" }}
  <link rel="stylesheet" href="/css/index.css">
{{ end }}


{{ define "main" }}
  <section class="landing-section">
    <article>
      <h5>Annette-von-Droste-Hülshoff</h5>
      <h1 class="heading">Unsere <span>Schüler*<span>innen</span>vertretung</h1>  
    </article>
    <section class="grid">
      <section class="block block1">
        <h4>Engagement für Schule...</h4>
      </section> 
      <img src="./../index-image-0.jpeg" alt="SV-Image">
      <section class="block block2">
        <h4>...und Schüler*innen</h4>
      </section>
    </section>
  </section>
  <section class="introduction-section">
    <article>
      <h2>Wir sind die SV vom Annette-Gymnasium</h2>
      <p>
        Wir sind eine Versammlung von gewählten Schüler*innen die sich für die Ideen und sonstige Anliegen der Schüler*innen einsetzen.
        An erster Stelle setzen wir uns für die Ideen und sonstige Anliegen der Schüler*innen ein.
      </p>
      <img src="./index-image-1.jpeg" alt="SV-Image">
      <p>
        Die SV spielt eine große Rolle bei der Gestaltung verschiedenster Veranstaltungen und Events und des Schullebens.
      </p>
    </article>
  </section>
  <section class="blog-section">
    <article>
      <h2>Engagement in der SV</h2>
      <p>
        In SV-Sitzungen, SV-Tagen, vertreten wir über 1000 Schülerinnen und Schüler.
        Zusammen in Arbeitskreise arbeiten wir an diverse Anliegen.
      </p>
      <p>
        Wie genau machen wir das? Das siehst du in unseren 
        <a href="/blog">Blog Posts</a>.
      </p>
    </article>
  </section>
{{ end }}